.R1
{
position: absolute;
width: 156px;
height: 161px;
top:50%;
left:50%;
background: #151313;
border-radius: 56px;
}
.R2{
position: absolute;
width: 72px;
height: 82px;
top:0;
left;0;


background: #8A7070;
}
.R3
{

position: absolute;
width: 73px;
height: 82px;

background: #8A7070;
}